# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env
.env.*

# Distribution / packaging
*.egg-info/
dist/
build/

# Database
*.db
*.sqlite3

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Temp working files
Barberia Bot/
evo_key.txt
BullsBarberClub_Accesos.docx
*.bin
*.bat
railway_token.txt
